.page-content {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  //flex-direction: column;
  width: 100%;
  max-width: 1280px;
  border: 1px solid red;
  justify-content: center;
}

.content-wrapper1-menu {
  background: rgb(37, 33, 40);
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-logIn {
  margin-left: 65px;
}

.menu-nav-items {
  display: flex;

  &-item {
    margin: 15px;
    display: flex;
    //flex-shrink: 0;
  }

  &-link {
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    color: rgb(238, 238, 238);

    &:hover {
      color: #fe6148;
    }
  }
}

.main-section1 {
  background-image: url("../img/background1.webp");
  height: 1000px;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;

  .content-wrapper2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-paragraph1 {
      color: white;
      font-size: 6rem;
      margin-bottom: 15px;
    }
    &-paragraph2 {
      color: white;
      font-size: 30px;
      margin-bottom: 60px;
    }
    &-button {
      text-decoration: none;
      text-align: center;
      padding: 10px;
      color: #fe6148;
      font-size: 20px;
      background-color: rgb(37, 33, 40);
      width: 150px;
      height: 50px;

      &:hover {
        background-color: #db503b;
        color: rgb(37, 33, 40);
      }
    }
  }
}

.main-section2 {
  height: 600px;
  display: flex;
  justify-content: center;
}

.img-hover {
  height: 600px;
  &:hover {
    background: red;
    opacity: 0.8;
  }
}

.page-content3 {
  background-image: url("../img/background3.webp");
  height: 930px;
  &-content {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    padding-top: 60px;
    color: white;
    width: 307px;
    &-coach {
      font-size: 5rem;
    }

    &-paragraph1 {
      margin-top: 50px;
      font-size: 1.2rem;
    }

    &-paragraph2 {
      margin-top: 30px;
      font-size: 1.2rem;
    }

    &-network {
      margin-top: 30px;
    }
  }
}

.page-content4 {
  background-image: url("../img/background4.webp");
  height: 600px;
  display: flex;
  justify-content: center;
  color: #2f2b32;
}

.content4-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  &-winnings {
    font-size: 5rem;
    margin: auto;
  }

  &-winnings1 {
    font-size: 5rem;
  }

  &-columns {
    display: flex;

    &-column {
      display: flex;
      flex-direction: column;
      font-size: 1.7rem;
      width: 150px;
      margin: 45px;
    }
  }
}

.page-content5 {
  background-color: #2f2b32;
  height: 350px;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;

    &-training {
      font-size: 2rem;
      color: white;
    }

    &-batton {
      margin: 50px;
      width: 200px;
      height: 55px;
      background-color: rgb(37, 33, 40);
      font-size: 1rem;
      color: #fe6148;
      border: none;
      text-decoration: none;
      text-align: center;
      padding: 15px;

      &:hover {
        background-color: #db503b;
        color: rgb(37, 33, 40);
      }
    }
  }
}

.page-content6 {
  height: auto;

  &-image {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &-image1 {
      display: flex;
      flex-wrap: wrap;
      //margin: -0.3em;
      padding: 0;
      height: 100%;
      border: none;
    }

    &-img {
      @media screen and (max-width: 500px) {
        flex: 100%;
        max-width: 100%;
      }
      margin: -0.3em;
      padding: 0;
      flex: 33%;

      &-items {
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.page-content7 {
  height: 750px;
  background-image: url(../img/background7.webp);
  background-repeat: no-repeat;
  background-size: 100%;

  &-content {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    width: 500px;
    color: white;
    margin: auto;

    &-items {
      display: flex;
      flex-direction: column;
      text-align: center;

      &-big {
        font-size: 5rem;
      }

      &-little {
        margin-top: 10px;
        font-size: 1.2rem;
      }

      &-medium {
        margin-top: 90px;
        font-size: 1.6rem;
        margin-bottom: 20px;
      }

      &-abzac {
        font-size: 1.4rem;
      }
    }
  }
}

.page-content8 {
  background-color: #2f2b32;
  height: 500px;
}

.page-footer9 {
  background-color: #fe6148;
  height: 525px;
  display: flex;
  width: 100%;
}

.contacts-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #2f2b32;
}

.contacts-left {
  height: 365px;
  width: 430px;
  margin-top: 55px;
  font-size: 1.5rem;
  justify-content: left;
  &-content-me {
    font-size: 2rem;
    margin-bottom: 45px;
  }
  &-content-p1 {
    margin-bottom: 15px;
  }
  &-content-p2 {
    margin-bottom: 110px;
    &-mysite {
      text-decoration: none;
      color: #2f2b32;
    }
  }
}

.img-network {
  margin-left: 5px;
  &-img {
    height: 35px;
  }
}

.contacts-right {
  margin-top: 55px;
  margin-left: 80px;
  height: 365px;
  width: 430px;

  &-input {
    width: 430px;
    text-align: center;
    color: #4e4258;
    &-input {
      width: 425px;
      height: 35px;
      margin-bottom: 5px;
      border: #2f2b32 2px solid;
      background-color: #fe6148;
      color: #38333b;
      font-size: 1.2rem;
      padding-left: 10px;
      outline: none;
    }
    &-input:hover {
      border: 1px solid;
    }
    &-input::placeholder {
      color: #39303f;
      font-size: 1rem;
    }
    &-area {
      width: 425px;
      height: 110px;
      margin-bottom: 2px;
      border: #2f2b32 2px solid;
      background-color: #fe6148;
      padding-left: 10px;
      font-size: 1.2rem;
      outline: none;
    }
    &-area::placeholder {
      color: #39303f;
      font-size: 1rem;
    }
    &-area:hover {
      border: 1px solid;
    }
  }

  &-up {
    font-size: 0.8rem;
    display: flex;
    &-href {
      margin-right: 105px;
    }
    &-text-wix {
      text-decoration: none;
      color: #2f2b32;
    }
  }
}

.btn-submit {
  color: #fe6148;
  background-color: #2f2b32;
  height: 40px;
  width: 150px;
  font-size: 1.2rem;
  outline: none;
  margin-left: 275px;
  margin-bottom: 80px;
  &:hover {
    color: #2f2b32;
    background-color: #8b3d31;
  }
}
