.main-section-book {
  position: relative;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: center;
  
}

.main-section-book > .content-wrapper {
  margin-top: 80px;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--main-white-text-color);
}

.main-section-book-title {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 50px;
}

.main-section-book-cards {
  display: flex;
  justify-content: center;

  &-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 280px;
    //height: 350px;
    border: 1px solid gray;
    margin-right: 30px;
  }
}

.book-img-top1 {
  height: 200px;

  &-href {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &-img {
    height: 200px;
    width: auto;
    &:hover {
      opacity: 0.5;
    }
  }
}

.book-content-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180px;
}

.book-abzac1 {
  font-size: 1.2rem;
  //margin-top: 10px;
}

.book-abzac2 {
  font-size: 0.9rem;
  margin-top: 20px;
}

.book-btn,
.book-btn2,
.book-btn3 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 140px;
  height: 37px;
  margin-top: 25px;
  border: none;
  font-size: 1rem;
  color: var(--button-orange-text-color);
  background-color: var(--button-dark-bg-hover);
  outline: none;
  cursor: pointer;

  &-href {
    text-decoration: none;
  }

  &:hover {
    color: var(--button-orange-text-color);
    background-color: var(--button-section8-bg-hover);
  }
}

.book-online-message {
  position: fixed;
  margin-top: 10%;
  height: 300px;
  width: 600px;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  opacity: 0;

  &-close {
    margin-left: 550px;
    margin-top: 25px;
    cursor: pointer;
    &-href {
      text-decoration: none;
    }
  }

  &-text {
    width: 500px;
  }

  &-btn {
    width: 140px;
    height: 40px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    margin-bottom: 75px;
    text-decoration: none;
    color: white;

    &:hover {
      background-color: rgb(58, 58, 58);
    }
  }
}
