@media screen and (max-width: 768px) {
  .page-content {
    margin: 0;
    text-align: center;
    display: flex;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
  }

  .content-wrapper {
    display: flex;
    justify-content: center;
  }

  .menu-nav-items {
    //opacity: 1;
    visibility: visible;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--header-bg-color);
    flex-direction: column;
    width: 100%;
    //height: 100%;
    justify-content: flex-start;
    align-items: center;
    transition: opacity 0.5s, visibility 0.5s;
    border: red 5px solid;

    &-item {
      margin: 0;
      border-bottom: 1px solid #fff;
      width: 70%;
      //display: flex;
      justify-content: center;
    }

    &-link {
      color: var(--header-text-color);
    }
  }

  .menu-nav-items {
  }
  /*
  .main-section4 {
    height: 1200px;
  }
  .main-section4-content-columns {
    display: flex;
    flex-direction: column;
  }

  .main-section8 > .content-wrapper8 {
    display: flex;
    flex-direction: column;
  }*/

  //footer
}

//animation for slideshow
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
