.main-section3 {
  background-image: url("../../_img/background3.webp");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 60px;
    width: 340px;
    height: 100%;
    color: var(--main-white1-text-color);
    //border: 1px solid white;
    &-coach {
      font-size: 4rem;
      color: var(--main-white-text-color);
      //border: 1px solid yellow;
    }

    &-paragraph1 {
      margin-top: 30px;
      font-size: 1.3rem;
      // border: 1px solid yellow;
    }

    &-paragraph2 {
      // margin-top: 30px;
      font-size: 1.2rem;
      //border: 1px solid yellow;
    }

    &-network {
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      //border: 1px solid yellow;
    }
  }
}
