body {
  background: var(--main-bg-body-color);
}

.header > .content-wrapper {
  background-color: var(--main-bg-body-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 50px;
}

.nav {
  display: flex;
}

.nav__toggle {
  display: none;
}

.nav__list {
  display: flex;
}

.nav__item {
  display: flex;
  margin: 0 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-text-color);
}

.main-section {
  background-color: var(--main-bg-section-color);
  min-height: 750px;
}

.page-content {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 100%;
  max-width: 1280px;
  border: 1px solid red;
}

.main-section__column {
  position: relative;
  border: 1px solid green;
  flex-grow: 1;
}

.text-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 520px;
}

.img-column {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 754px;
}

.img-column-img {
  height: 754px;
}

@media screen and (max-width: 768px) {
  .page-content {
    margin: 0;
    text-align: center;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }

  .main {
    margin-top: 80px;
  }

  .main-section {
    display: none;
  }

  .nav__toggle {
    display: inherit;
  }

  .nav__list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--main-text-color);
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-content: center;
    transition: opacity 0.5s, visibility 0.5s;
  }

  .nav__link {
    color: #fff;
  }

  .nav__item {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    width: 80%;
  }

  .nav.expand .nav__list {
    opacity: 1;
    visibility: visible;
  }

  .nav.expand .nav__toggle {
    background-color: purple;
  }
}
